%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{sys, [
       {lib_dirs, ["../apps"]},
       {rel, "simplesip", "1",
        [
         kernel,
         stdlib,
         sasl,
         yxa,
         simpleapp
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "simplesip"},
       {profile, embedded},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},

       %% hipe_leach.erl has been removed in R15 but not from the hipe app file,
       %% breaking reltool releases.
       %% http://erlang.org/pipermail/erlang-patches/2012-January/002562.html
       {app, hipe, [{incl_cond, exclude}]},

       {app, sasl, [{incl_cond, include}]}

       %% sipserver is already included by yxa.
%       {app, simpleapp, [{mod, sipserver, [{incl_cond, exclude}]}]}
      ]}.

{target_dir, "../simplesip"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/simplesip", "bin/simplesip"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
